<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cantodo.content.persistence.BgimgMapper">

	   <!-- 禁用缓存
	<cache />
	 -->
	
	<resultMap type="com.cantodo.content.dto.BgImg"
		id="bgimgMap">
		<id property="id" column="id" />
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="newname" column="newname" />
		<result property="url" column="url" />
		<result property="sequ" column="sequ" />
		<result property="descri" column="descri" />
		<result property="createDate" column="createDate" />
		<result property="type" column="type" />
	</resultMap>
	
	<select id="getAllInfo" parameterType="map"
		resultMap="bgimgMap">
		SELECT id,name,newname,url,sequ,descri,createDate,type FROM t_bgimg
		<where>
			<if test="name != null">AND name like #{name}</if>
			<if test="cctype != null">AND type = #{cctype}</if>
		</where>
		 order by id desc limit #{offset} , #{rows}
	</select>
	
	<select id="getAllInfo2" parameterType="int"
		resultMap="bgimgMap">
		SELECT id,name,newname,url,sequ,descri,createDate,type FROM t_bgimg where type = #{type}   order by id desc
	</select>

	<select id="getCounts" parameterType="int" resultType="int">
		SELECT count(1) FROM t_bgimg where type  = #{type}
	</select>

	<insert id="insert" parameterType="bgimg">
		INSERT INTO t_bgimg (name,newname,url,sequ,descri,createDate,type)
		VALUES (#{name}, #{newname}, #{url},#{sequ},#{descri},#{createDate},#{type})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from t_bgimg where id=#{id}
	</delete>
	
	<select id="getInfoById" parameterType="int" resultType="bgimg">
		SELECT id,name,newname,url,sequ,descri,createDate,type FROM t_bgimg
		where id = #{id}
	</select>
	
	<select id="getUsedBgImg" resultType="String" parameterType="int">
		SELECT newname FROM t_bgimg where sequ=1 and type=#{type}
	</select>
	
	<update id="update" parameterType="bgimg">
		update t_bgimg set name= #{name}, newname= #{newname},url=#{url},descri=#{descri},createDate=#{createDate}
		where id=#{id}
	</update>
	
	<update id="usedBgImg" parameterType="int">
		update t_bgimg set sequ=1 where id=#{id}
	</update>
	
	<update id="usedBgImg2" parameterType="int">
		update t_bgimg set sequ=0 where sequ=1 and type=#{type}
	</update>





</mapper>