<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cantodo.content.persistence.ContentMapper">


	<resultMap type="com.cantodo.content.dto.Content"
		id="contentMap">
		<id property="id" column="id" />
		<result property="content" column="content" />
		<result property="type" column="type" />
		<result property="createdate" column="createdate" />
		<result property="typeid" column="typeid" />
		<result property="coopid" column="coopid" /> 
	</resultMap>

	<select id="getInfoById" parameterType="int"
		resultType="Content">
		SELECT * FROM t_content where id=#{id}
	</select>
	
	<delete id="delete" parameterType="int">
		delete from t_content where id=#{id}
	</delete>
	
	<update id="update" parameterType="Content">
		update t_content set content= #{content} where id=#{id}
	</update>
	
	<insert id="insert" parameterType="Content">
		insert into t_content(content,createdate,typeid,coopid) VALUES (#{content},#{createdate},#{typeid},#{coopid})
	</insert>

     <select id="getInfoByTypeCoop" parameterType="map"
		resultType="Content">
		SELECT * FROM t_content where typeid=#{typeid} and coopid=#{coopid}
	</select>
	
	<update id="updateContent" parameterType="Content">
		update t_content set content= #{content} where typeid=#{typeid} and coopid=#{coopid}
	</update>
	

</mapper>