<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cantodo.content.persistence.OpenClassMapper">

	<!--
	 缓存开关
	 <cache />  
	 -->

	<resultMap type="com.cantodo.content.dto.OpenClass"
		id="openClassMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="classType" column="classType" />
		<result property="createDate" column="createDate" />
		<result property="content" column="content" />
		<result property="sumnum" column="sumnum" />
		<result property="contcode" column="contcode" />
	</resultMap>
	
	<resultMap type="HashMap"
		id="classList">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="dictName" column="dictName" />
		<result property="createDate" column="createDate" />
		<result property="isbm" column="isbm" />
		<result property="hascount" column="hascount" />
		<result property="sumnum" column="sumnum" />
	</resultMap>


	<select id="getAllOpenClass" parameterType="map"
		resultMap="openClassMap">
		SELECT id,name,classType,createDate,content,sumnum,contcode FROM T_OPENCLASS
		<where>
			<if test="cname != null">AND name like #{cname}</if>
			<if test="ctype != null">AND classType = #{ctype}</if>
		</where>
		 order by id desc limit #{offset} , #{rows}
	</select>
	
	<select id="getClassList" parameterType="int"
		resultMap="classList" flushCache="true">
		select o.id, o.name,d.dictName,o.createDate,
		(select count(1) from t_mem_class mc where mc.classid=o.id and mc.memid=#{memid})as isbm,
		(select count(mc.memid) from t_mem_class mc where mc.classid=o.id)as hascount,
		o.sumnum
		from t_openclass o,t_dictbuss d
		where o.classType = d.dictId and d.dictType = 3 
		order by o.id desc limit #{offset} , #{rows}
	</select>
	
	
	

	<select id="getCounts" parameterType="map" resultType="int">
		SELECT count(1) FROM t_openclass
		<where>
			<if test="cname != null">AND name like #{cname}</if>
			<if test="ctype != null">AND classType = #{ctype}</if>
		</where>
	</select>
	
	<select id="getCounts2" resultType="int">
		SELECT count(1) FROM t_openclass
	</select>
	
	
	

	<select id="getOpenClassById" parameterType="int"
		resultType="OpenClass">
		SELECT id,name,classType,createDate,content,sumnum,contcode FROM T_OPENCLASS
		where id=#{id}
	</select>

	<insert id="insert" parameterType="OpenClass">
		INSERT INTO T_OPENCLASS (name,classType,createDate,content,sumnum,contcode)
		VALUES (#{name}, #{classType}, #{createDate},#{content},#{sumnum},#{contcode})
	</insert>

	<update id="update" parameterType="OpenClass">
		update T_OPENCLASS set name= #{name}, classType=
		#{classType},createDate=#{createDate},content=#{content},sumnum=#{sumnum},contcode=#{contcode} where
		id=#{id}
	</update>

	<delete id="delete" parameterType="int">
		delete from T_OPENCLASS where id=#{id}
	</delete>

</mapper>