<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cantodo.content.persistence.ProjectMapper">

	   <!-- 禁用缓存
	<cache />
	 -->

	<resultMap type="com.cantodo.content.dto.Project"
		id="projectMap">
		<id property="id" column="id" />
		<result property="no" column="no" />
		<result property="name" column="name" />
		<result property="itfx" column="itfx" />
		<result property="yyfx" column="yyfx" />
		<result property="longday" column="longday" />
		<result property="startTime" column="startTime" />
		<result property="endTime" column="endTime" />
		<result property="groupper" column="groupper" />
		<result property="ry" column="ry" />
		<result property="touzif" column="touzif" />
		<result property="fbf" column="fbf" />
		<result property="cbf" column="cbf" />
		<result property="pm" column="pm" />
		<result property="desctio" column="desctio" />
		<result property="contcode" column="contcode" />
		<result property="ctype" column="ctype" />
		
	</resultMap>
	
	<resultMap type="HashMap"
		id="projectList">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="dictName" column="dictName" />
		<result property="createDate" column="createDate" />
		<result property="isbm" column="isbm" />
		<result property="hascount" column="hascount" />
		<result property="groupper" column="groupper" />
	</resultMap>


	<select id="getAllProject" parameterType="map"
		resultMap="projectMap">
		SELECT id,no,name,type,itfx,yyfx,longday,startTime,endTime,groupper,ry,touzif,fbf,cbf,pm,desctio,contcode from T_PROJECT
		<where>
			<if test="qno != null">AND no like #{qno}</if>
			<if test="qname != null">AND name like #{qname}</if>
			<if test="qitfx != null">AND itfx = #{qitfx}</if>
			<if test="qstartTime != null">AND startTime = #{qstartTime}</if>
			<if test="qendTime != null">AND endTime = #{qendTime}</if>
			<if test="cctype != null">AND ctype = #{cctype}</if>
		</where>
		 order by id desc limit #{offset} , #{rows}
	</select>

	<select id="getCounts" parameterType="map" resultType="int">
		SELECT count(1) FROM T_PROJECT
		<where>
			<if test="qno != null">AND no like #{qno}</if>
			<if test="qname != null">AND name like #{qname}</if>
			<if test="qitfx != null">AND itfx = #{qitfx}</if>
			<if test="qstartTime != null">AND startTime = #{qstartTime}</if>
			<if test="qendTime != null">AND endTime = #{qendTime}</if>
			<if test="cctype != null">AND ctype = #{cctype}</if>
		</where>
	</select>
	
	<select id="getCounts2" parameterType="String" resultType="int">
		SELECT count(1) FROM T_PROJECT where ctype = #{ctype}
	</select>
	
	<select id="getProjectList" parameterType="int"
		resultMap="projectList" flushCache="true">
		select o.id, o.name,d.dictName,o.startTime,
		(select count(1) from t_mem_project mc where mc.projectid=o.id and mc.memid=#{memid})as isbm,
		(select count(mc.memid) from t_mem_project mc where mc.projectid=o.id)as hascount,
		o.groupper
		from T_PROJECT o,t_dictbuss d
		where o.type = d.dictId and d.dictType = 6 and o.ctype=#{ctype}
		order by o.id desc limit #{offset} , #{rows}
	</select>
	
	

	<select id="getProjectById" parameterType="int"
		resultType="Project">
		SELECT id,no,name,type,itfx,yyfx,longday,startTime,endTime,groupper,ry,touzif,fbf,cbf,pm,desctio,contcode,ctype from T_PROJECT
		where id=#{id}
	</select>

	<insert id="insert" parameterType="Project">
		INSERT INTO T_PROJECT (no,name,type,itfx,yyfx,longday,startTime,endTime,groupper,ry,touzif,fbf,cbf,pm,desctio,contcode,ctype)
		VALUES (#{no}, #{name}, #{type},#{itfx},#{yyfx},#{longday},#{startTime}, #{endTime}, #{groupper},#{ry},#{touzif},#{fbf}, #{cbf},#{pm},#{desctio},#{contcode},#{ctype})
	</insert>
	
	
  <insert id="addBatch" parameterType="map">
        INSERT INTO T_PROJECT (no,name,type,itfx,yyfx,longday,startTime,endTime,groupper,ry,touzif,fbf,cbf,pm,desctio,contcode,ctype)
		VALUES
        <foreach collection="res" item="item" index="index" separator=",">
           (#{item.no}, #{item.name}, #{item.type},#{item.itfx},#{item.yyfx},#{item.longday},#{item.startTime}, #{item.endTime}, #{item.groupper},#{item.ry},#{item.touzif},#{item.fbf}, #{item.cbf},#{item.pm},#{item.desctio},#{item.contcode},#{item.ctype})
        </foreach>
    </insert>
    
    <select id="checkProjectNo" parameterType="String"
		resultType="int">
		SELECT count(1) from T_PROJECT where no=#{no}
	</select>
    
	

	<update id="update" parameterType="Project">
		update T_PROJECT 
		 set no= #{no},
		 name=#{name},
		 type=#{type},
		 itfx=#{itfx},
		 yyfx=#{yyfx},
		 longday=#{longday},
		 startTime=#{startTime},
		 endTime=#{endTime},
		 groupper=#{groupper},
		 ry=#{ry},
		 touzif=#{touzif},
		 fbf=#{fbf},
		 cbf=#{cbf},
		 pm=#{pm},
		 desctio=#{desctio},
		 contcode=#{contcode} where id=#{id}
	</update>

	<delete id="delete" parameterType="int">
		delete from T_PROJECT where id=#{id}
	</delete>

</mapper>