<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cantodo.content.persistence.ResourceMapper">


	<resultMap type="com.cantodo.content.dto.Resource"
		id="resourceMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="type" column="type" />
		<result property="createDate" column="createDate" />
		<result property="content" column="content" />
		<result property="contcode" column="contcode" />
		<result property="ctype" column="ctype" />
	</resultMap>
	

	<select id="getAllInfo" parameterType="map"
		resultMap="resourceMap">
		SELECT id, type, name, createDate, content ,contcode,ctype FROM t_resource
		<where>
			<if test="cname != null">AND name like #{cname}</if>
			<if test="ctype != null">AND type = #{ctype}</if>
			<if test="cctype != null">AND ctype = #{cctype}</if>
		</where>
		 order by id desc limit #{offset} , #{rows}
	</select>
	
	<select id="getAllInfoSearch" parameterType="map"
		resultMap="resourceMap">
		SELECT id, type, name, createDate, content ,contcode,ctype FROM t_resource
		where name like #{cname} or content like #{cname}
		order by id desc limit #{offset} , #{rows}
	</select>

	<select id="getCounts" parameterType="map" resultType="int">
		SELECT count(1) FROM t_resource
		<where>
			<if test="cname != null">AND name like #{cname}</if>
			<if test="ctype != null">AND type = #{ctype}</if>
			<if test="cctype != null">AND ctype = #{cctype}</if>
		</where>
	</select>
	
	<select id="getCounts2" resultType="int" parameterType="int">
		SELECT count(1) FROM t_resource where ctype = #{ctype}
	</select>
	
	<!--  select id="getCounts3" resultType="int" parameterType="string">
		SELECT count(1) FROM t_resource 
		<where>
			<if test="_parameter != null">AND name like #{name} or content like #{name}</if>
		</where> 
		
	</select>
	-->
	
	<select id="getCounts3" resultType="int" parameterType="string">
		SELECT count(1) FROM t_resource where name like #{name} or content like #{name}
	</select>

	<select id="getInfoById" parameterType="map"
		resultType="Resource">
		SELECT id, type, name, createDate, content ,contcode FROM t_resource
		where id=#{id} and ctype= #{cctype}
	</select>

	<insert id="insert" parameterType="Resource">
		INSERT INTO t_resource (type, name,createDate, content,contcode,ctype)
		VALUES (#{type}, #{name},#{createDate}, #{content},#{contcode},#{ctype})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from t_resource where id=#{id}
	</delete>
	
	<update id="update" parameterType="Resource">
		update t_resource set type= #{type}, name= #{name},createDate=#{createDate},content=#{content}
		where id=#{id}
	</update>


</mapper>