<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cantodo.content.persistence.AdsMapper">

	   <!-- 禁用缓存
	<cache />
	 -->
	
	<resultMap type="com.cantodo.content.dto.Ads"
		id="adsMap">
		<id property="id" column="id" />
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="newname" column="newname" />
		<result property="url" column="url" />
		<result property="sequ" column="sequ" />
		<result property="descri" column="descri" />
		<result property="createDate" column="createDate" />
		<result property="type" column="type" />
	</resultMap>
	
	<select id="getAllInfo" parameterType="map"
		resultMap="adsMap">
		SELECT id,name,newname,url,sequ,descri,createDate,type FROM t_ads
		<where>
			<if test="name != null">AND name like #{name}</if>
			<if test="cctype != null">AND type = #{cctype}</if>
		</where>
		 order by sequ ,id desc limit #{offset} , #{rows}
	</select>
	
	<select id="getAllInfo2" parameterType="int"
		resultMap="adsMap">
		SELECT id,name,newname,url,sequ,descri,createDate,type FROM t_ads where type = #{type}   order by sequ , id desc
	</select>

	<select id="getCounts" parameterType="int" resultType="int">
		SELECT count(1) FROM t_ads where type  = #{type}
	</select>

	<insert id="insert" parameterType="Ads">
		INSERT INTO t_ads (name,newname,url,sequ,descri,createDate,type)
		VALUES (#{name}, #{newname}, #{url},#{sequ},#{descri},#{createDate},#{type})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from t_ads where id=#{id}
	</delete>
	
	<select id="getInfoById" parameterType="int" resultType="Ads">
		SELECT id,name,newname,url,sequ,descri,createDate,type FROM t_ads
		where id = #{id}
	</select>
	
	<update id="update" parameterType="Ads">
		update t_ads set name= #{name}, newname= #{newname},url=#{url},sequ=#{sequ},descri=#{descri},createDate=#{createDate}
		where id=#{id}
	</update>



</mapper>