<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cantodo.content.persistence.DivproperMapper">

	   <!-- 禁用缓存
	<cache />
	 -->
	
	<resultMap type="com.cantodo.content.dto.Divproper"
		id="divproperMap">
		<id property="imgid" column="imgid" />
		<result property="title" column="title" />
		<result property="sequ" column="sequ" />
		<result property="attaname" column="attaname" />
		<result property="x1" column="x1" />
		<result property="y1" column="y1" />
		<result property="x2" column="x2" />
		<result property="y2" column="y2" />
		<result property="w" column="w" />
		<result property="h" column="h" />
	</resultMap>

	<insert id="insert" parameterType="Divproper">
		INSERT INTO t_divproper (imgid,title,sequ,attaname,x1,y1,x2,y2,w,h)
		VALUES (#{imgid},#{title},#{sequ},#{attaname},#{x1}, #{y1},#{x2},#{y2},#{w},#{h})
	</insert>
	
	<delete id="delete" parameterType="String">
		delete from t_divproper where imgid=#{id}
	</delete>

     <select id="getDivInfo" parameterType="String"
		resultMap="divproperMap">
		SELECT imgid,title,sequ,attaname,x1,y1,x2,y2,w,h FROM t_divproper
		where imgid = #{imgid}
	</select>

   
</mapper>