<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cantodo.content.persistence.MemClassMapper">

	 <!--
	 缓存开关
	 <cache />  
	 -->
	

	
	<select id="getInfoById" parameterType="map"
		resultType="MemClass">
		select memid,classid,state,remark from t_mem_class  
		where memid=#{memid} and classid=#{classid}
	</select>

	<insert id="insert" parameterType="map">
		INSERT INTO t_mem_class (memid,classid,state,remark)
		VALUES (#{memid}, #{classid},0, '')
	</insert>
	
	<delete id="delete" parameterType="map">
		delete from t_mem_class where memid=#{memid} and classid=#{classid}
	</delete>
	
	<select id="getClassMemCount" parameterType="int"
		resultType="int">
		select count(1) from t_mem_class where classid=#{classid}
	</select>
	
	<select id="hastoclass" parameterType="int"
		resultType="int">
		select count(1) from t_mem_class where memid=#{memid}
	</select>
	
	
	<select id="getClassMemCount2" parameterType="int"
		resultType="int">
		select count(1) from t_mem_class where classid=#{classid} and state = 1
	</select>
	
	<insert id="saveState" parameterType="map">
		update t_mem_class set state=#{state},remark = #{remark} where memid = #{memid} and classid =#{classid}
	</insert>
	
	


</mapper>