<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<context:annotation-config />
	<context:component-scan base-package="com.base.frame" />
	<context:component-scan base-package="com.cantodo.content" />
    <aop:aspectj-autoproxy/>
		
	<bean class="com.base.frame.system.PropertyPlaceholderConfigurerEx">
		
		<property name="locations" value="/WEB-INF/jdbc.properties"/>
		
		 <!--security为false，则对属性文件的属性值不进行解密处理，为true，则进行解密 -->
		
		<property name="secutiry" value="true"/>

	</bean>

	<bean id="dataSource" destroy-method="close"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<!-- define the SqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="typeAliasesPackage" value="com.base.frame.domain,com.cantodo.content.dto" />
	</bean>

	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>

	<!-- scan for mappers and let them be autowired -->
	<!-- 分号或逗号作为分隔符设置多于一个的包路径 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.base.frame.persistence;com.cantodo.content.persistence" />
	</bean>
	
	
	<!--
	<bean id="hibernateTemplate"  class="org.springframework.orm.hibernate3.HibernateTemplate">
	    <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	-->
	
	<bean id="sessionFactory"  class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		
		<property name="packagesToScan">
			<list>
				<value>com.base.frame.model</value>
				
			</list>
		</property>
		<property name="mappingResources">
			<list>
			        <!-- jbpm 工作流引擎配置 暂无需要注释掉
				    <value>org/jbpm/graph/action/Script.hbm.xml</value>
				    <value>org/jbpm/identity/User.hbm.xml</value>
				    <value>org/jbpm/identity/Group.hbm.xml</value>
				    <value>org/jbpm/identity/Membership.hbm.xml</value>
				    <value>org/jbpm/context/exe/variableinstance/JcrNodeInstance.hbm.xml</value>
				    <value>org/jbpm/db/hibernate.queries.hbm.xml</value>
				    <value>org/jbpm/graph/def/ProcessDefinition.hbm.xml</value>
				    <value>org/jbpm/graph/def/Node.hbm.xml</value>
				    <value>org/jbpm/graph/def/Transition.hbm.xml</value>
				    <value>org/jbpm/graph/def/Event.hbm.xml</value>
				    <value>org/jbpm/graph/def/Action.hbm.xml</value>
				    <value>org/jbpm/graph/def/SuperState.hbm.xml</value>
				    <value>org/jbpm/graph/def/ExceptionHandler.hbm.xml</value>
				    <value>org/jbpm/instantiation/Delegation.hbm.xml</value>
				    <value>org/jbpm/graph/node/StartState.hbm.xml</value>
				    <value>org/jbpm/graph/node/EndState.hbm.xml</value>
				    <value>org/jbpm/graph/node/ProcessState.hbm.xml</value>
				    <value>org/jbpm/graph/node/Decision.hbm.xml</value>
				    <value>org/jbpm/graph/node/Fork.hbm.xml</value>
				    <value>org/jbpm/graph/node/Join.hbm.xml</value>
				    <value>org/jbpm/graph/node/State.hbm.xml</value>
				    <value>org/jbpm/graph/node/TaskNode.hbm.xml</value>
				    <value>org/jbpm/context/def/ContextDefinition.hbm.xml</value>
				    <value>org/jbpm/context/def/VariableAccess.hbm.xml</value>
				    <value>org/jbpm/taskmgmt/def/TaskMgmtDefinition.hbm.xml</value>
				    <value>org/jbpm/taskmgmt/def/Swimlane.hbm.xml</value>
				    <value>org/jbpm/taskmgmt/def/Task.hbm.xml</value>
				    <value>org/jbpm/taskmgmt/def/TaskController.hbm.xml</value>
				    <value>org/jbpm/module/def/ModuleDefinition.hbm.xml</value>
				    <value>org/jbpm/bytes/ByteArray.hbm.xml</value>
				    <value>org/jbpm/file/def/FileDefinition.hbm.xml</value>
				    <value>org/jbpm/scheduler/def/CreateTimerAction.hbm.xml</value>
				    <value>org/jbpm/scheduler/def/CancelTimerAction.hbm.xml</value>
				    <value>org/jbpm/graph/exe/Comment.hbm.xml</value>
				    <value>org/jbpm/graph/exe/ProcessInstance.hbm.xml</value>
				    <value>org/jbpm/graph/exe/Token.hbm.xml</value>
				    <value>org/jbpm/graph/exe/RuntimeAction.hbm.xml</value>
				    <value>org/jbpm/module/exe/ModuleInstance.hbm.xml</value>
				    <value>org/jbpm/context/exe/ContextInstance.hbm.xml</value>
				    <value>org/jbpm/context/exe/TokenVariableMap.hbm.xml</value>
				    <value>org/jbpm/context/exe/VariableInstance.hbm.xml</value>
				    <value>org/jbpm/context/exe/variableinstance/ByteArrayInstance.hbm.xml</value>
				    <value>org/jbpm/context/exe/variableinstance/DateInstance.hbm.xml</value>
				    <value>org/jbpm/context/exe/variableinstance/DoubleInstance.hbm.xml</value>
				    <value>org/jbpm/context/exe/variableinstance/HibernateLongInstance.hbm.xml</value>
				    <value>org/jbpm/context/exe/variableinstance/HibernateStringInstance.hbm.xml</value>
				    <value>org/jbpm/context/exe/variableinstance/LongInstance.hbm.xml</value>
				    <value>org/jbpm/context/exe/variableinstance/NullInstance.hbm.xml</value>
				    <value>org/jbpm/context/exe/variableinstance/StringInstance.hbm.xml</value>
				    <value>org/jbpm/job/Job.hbm.xml</value>
				    <value>org/jbpm/job/Timer.hbm.xml</value>
				    <value>org/jbpm/job/ExecuteNodeJob.hbm.xml</value>
				    <value>org/jbpm/job/ExecuteActionJob.hbm.xml</value>
				    <value>org/jbpm/taskmgmt/exe/TaskMgmtInstance.hbm.xml</value>
				    <value>org/jbpm/taskmgmt/exe/TaskInstance.hbm.xml</value>
				    <value>org/jbpm/taskmgmt/exe/PooledActor.hbm.xml</value>
				    <value>org/jbpm/taskmgmt/exe/SwimlaneInstance.hbm.xml</value>
				    <value>org/jbpm/logging/log/ProcessLog.hbm.xml</value>
				    <value>org/jbpm/logging/log/MessageLog.hbm.xml</value>
				    <value>org/jbpm/logging/log/CompositeLog.hbm.xml</value>
				    <value>org/jbpm/graph/log/ActionLog.hbm.xml</value>
				    <value>org/jbpm/graph/log/NodeLog.hbm.xml</value>
				    <value>org/jbpm/graph/log/ProcessInstanceCreateLog.hbm.xml</value>
				    <value>org/jbpm/graph/log/ProcessInstanceEndLog.hbm.xml</value>
				    <value>org/jbpm/graph/log/ProcessStateLog.hbm.xml</value>
				    <value>org/jbpm/graph/log/SignalLog.hbm.xml</value>
				    <value>org/jbpm/graph/log/TokenCreateLog.hbm.xml</value>
				    <value>org/jbpm/graph/log/TokenEndLog.hbm.xml</value>
				    <value>org/jbpm/graph/log/TransitionLog.hbm.xml</value>
				    <value>org/jbpm/context/log/VariableLog.hbm.xml</value>
				    <value>org/jbpm/context/log/VariableCreateLog.hbm.xml</value>
				    <value>org/jbpm/context/log/VariableDeleteLog.hbm.xml</value>
				    <value>org/jbpm/context/log/VariableUpdateLog.hbm.xml</value>
				    <value>org/jbpm/context/log/variableinstance/ByteArrayUpdateLog.hbm.xml</value>
				    <value>org/jbpm/context/log/variableinstance/DateUpdateLog.hbm.xml</value>
				    <value>org/jbpm/context/log/variableinstance/DoubleUpdateLog.hbm.xml</value>
				    <value>org/jbpm/context/log/variableinstance/HibernateLongUpdateLog.hbm.xml</value>
				    <value>org/jbpm/context/log/variableinstance/HibernateStringUpdateLog.hbm.xml</value>
				    <value>org/jbpm/context/log/variableinstance/LongUpdateLog.hbm.xml</value>
				    <value>org/jbpm/context/log/variableinstance/StringUpdateLog.hbm.xml</value>
				    <value>org/jbpm/taskmgmt/log/TaskLog.hbm.xml</value>
				    <value>org/jbpm/taskmgmt/log/TaskCreateLog.hbm.xml</value>
				    <value>org/jbpm/taskmgmt/log/TaskAssignLog.hbm.xml</value>
				    <value>org/jbpm/taskmgmt/log/TaskEndLog.hbm.xml</value>
				    <value>org/jbpm/taskmgmt/log/SwimlaneLog.hbm.xml</value>
				    <value>org/jbpm/taskmgmt/log/SwimlaneCreateLog.hbm.xml</value>
				    <value>org/jbpm/taskmgmt/log/SwimlaneAssignLog.hbm.xml</value>
				    -->
				    <!--  
				    <value>com/base/frame/model/AppInfo.hbm.xml</value> 
				    <value>com/base/frame/model/Leave.hbm.xml</value> 
				    <value>com/base/frame/model/Workflow.hbm.xml</value> 
				    <value>com/base/frame/model/FieldInput.hbm.xml</value> 
				    <value>com/base/frame/model/FieldType.hbm.xml</value> 
				    <value>com/base/frame/model/FlowForm.hbm.xml</value> 
				    <value>com/base/frame/model/FormField.hbm.xml</value> 
				    -->
				    
				    <!-- cms  business-->
				
				    <value>com/base/frame/model/Organization.hbm.xml</value> 
				    <value>com/base/frame/model/Role.hbm.xml</value> 
				    <value>com/base/frame/model/Module.hbm.xml</value> 
				    <value>com/base/frame/model/UserInfo.hbm.xml</value>
				    <value>com/base/frame/model/UsersRoles.hbm.xml</value> 
				    <value>com/base/frame/model/DictBuss.hbm.xml</value> 
				    <value>com/base/frame/model/ACL.hbm.xml</value> 
				    <value>com/base/frame/model/LoginMess.hbm.xml</value> 
				    <value>com/base/frame/model/SysConfig.hbm.xml</value> 
				    <value>com/base/frame/model/Equipment.hbm.xml</value> 
				    
			</list>
		</property>
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<!--不打印sql-->
				<prop key="hibernate.show_sql">false</prop>
				<!-- 自动创建表，换新数据库时，使用
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				 --> 
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</prop>
			</props>
		</property>
	</bean>

	


	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<tx:annotation-driven transaction-manager="txManager" />

    <!-- 工作流引擎配置 暂无需要注释掉 打开时 OrgAssignmentHandler 和 JbpmFacadeImpl注释掉的
    <bean id="jbpmConfiguration" class="org.springmodules.workflow.jbpm31.LocalJbpmConfigurationFactoryBean">
		<property name="configuration" value="classpath:jbpm.cfg.xml"></property>
	</bean>
	 -->
	
     <!-- 事物配置 xml方式，本项目已经使用annotation方式 注释掉
     <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
     	<property name="sessionFactory" ref="sessionFactory"></property>
     </bean>
     <tx:advice id="txAdvice" transaction-manager="transactionManager">
     	<tx:attributes>
     		<tx:method name="find*" read-only="true"/>
     		<tx:method name="add*" propagation="REQUIRED"/>
     	</tx:attributes>
     </tx:advice>
     <aop:config>
     	<aop:pointcut expression="execution(public * com.cea.efb.security.service..*.*(..))" id="txPointcut"/>
     	<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut"/>
     </aop:config>
     -->
</beans>